body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3{
  color: #A0A0A0;
  font-style: oblique;
  font-size: 20px;
}

#naslov {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 23%;
  margin-right: 38%;
  background-color: #FFFF99 ;
  text-align: center;
}

#vsebina {
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  background-color: #FFFF99;
  margin-bottom: 1em;
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #FFFFCC;
  margin-bottom: 1em;
  margin-right: 10px;
}

#seznami {
  float: right;
  width: 15%;
  height: 300px;
  overflow: auto;
}

#seznam-kanalov {
  width: 100%;
  height: 50%;
  overflow: auto;
}

#seznam-uporabnikov {
  width: 100%;
  height: 50%;
  overflow: auto;
  background-color: #eee;
}

#seznam-kanalov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-uporabnikov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#seznam-uporabnikov div:hover {
  background-color: #ddd;
}

#poslji-gumb {
   overflow: auto;
}

#poslji-sporocilo {
  width: 85%;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}